In [2]:
import cv2
import os
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from tqdm import tqdm

In [23]:
def find_particle(params):
    '''
    TO DO
    
    Add all the code implemented in the notebook number 2 here, this will allow to execute
    the image processing method you created for each frame of the video
    
    '''
    pass

In [24]:
filenames, xs, ys, radiuss, bright_list = [], [], [], [], []

 51%|████████████████████▌                   | 331/645 [00:12<00:11, 28.45it/s]/tmp/ipykernel_65108/1755573406.py:59: RuntimeWarning: Mean of empty slice.
  return contrast, x+init_x, y+init_y, radius, brigthness.mean()
/Users/oscarkremer/miniconda3/lib/python3.8/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
100%|████████████████████████████████████████| 645/645 [00:23<00:00, 27.85it/s]

In [26]:
'''
TO DO

Create a dataframe containing the following columns:

x, y, radius, index (number of the frame) and filename

Save this dataframe in the .csv format in the folder data/dataframes

'''

       filename     radius           x           y          z  index
0  frame583.jpg  13.851260  675.127548  385.581635  93.663941    583
1  frame597.jpg  14.422305  675.000000  385.000000  91.452993    597
2  frame540.jpg  14.214621  674.854836  387.822578  95.846009    540
3  frame226.jpg  13.764314  675.147537  386.926231  94.833818    226
4  frame232.jpg  13.038505  676.000000  387.000000  95.888314    232